.container{
    display: grid;
    /* grid-template-columns: 100px auto auto 100px;
    grid-template-rows: 50px 50px;
    grid-gap: 3px; */
}

#header {
    grid-template-columns: ;
}




.username{
    height: 2rem;
}

#avatar{
    border-radius: 50%;
    height: 6rem;
}